# Exclude everything
*

# Allow the .gitignore itself to be tracked
!.gitignore
!.gitkeep

# Include the .vscode directory and its contents
!.vscode/
!.vscode/**
!.makefiles/
!.makefiles/**
!.ignorefiles/
!.ignorefiles/**
!.licensefiles/
!.licensefiles/**
!.readmefiles/
!.readmefiles/**
!.github/
!.github/**
!.workflows/
!.workflows/**

# (Optionally) Include any other specific files you want
!README.md
!LICENSE
!generate_config.sh
