# Exclude everything
*

# Allow the .gitignore itself to be tracked
!.gitignore

# Include .gitkeep files in any directory
!**/.gitkeep

# Include specific files in the root
!README.md
!LICENSE
!generate_config.sh
!goreleaser.yaml

# Include all directories recursively
!*/
!**/

# Exclude .vscode folder
.vscode/
.vscode/*

# Include TODO
!TODO

# Include Makefile
!Makefile

# Include commands.json
!commands.json

# Include .yml files
!*.yml

# Include .GO
!*.go